<h3> 2025 Hightlights</h3>

<p> 
    TBD
</p>

<p> 
    TBD

<p> 
    TBD
</p>  
   
    TBD
</p>
<img src="images/2025-1.jpeg" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2025-2.jpeg" alt="Chit Chat Chai 2025 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2025-3.jpeg" alt="Chit Chat Chai 2025 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2025-4.jpeg" alt="Chit Chat Chai 2025 Session" class="journey-image">
<figcaption> TBD </figcaption>