<h3> 2024 Hightlights</h3>

<p> 
    TBD
</p>

<p> 
    TBD

<p> 
    TBD
</p>  
   
    TBD
</p>

<img src="images/2024-1.png" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2024-2.png" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2024-3.png" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2024-4.png" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>
<img src="images/2024-5.png" alt="Chit Chat Chai 2024 Session" class="journey-image">
<figcaption> TBD </figcaption>